<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>400 Bad Request</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<div class="flex-container-column">
		<header class="flex-container-row">
			<div class="padder"></div>
			<div class="app-title"><h1><a href="/">Catalog App</a></h1></div>
			<div class="app-logout"><form action="/logout" method="get"><button class="btn btn-danger">Logout</button></form></div>
			<div class="padder"></div>
		</header>
		<article class="flex-container-row main-section">
			<div class="padder"></div>
			<div class="main-content flex-container-row">
				<h1>Bad Request.</h1>
			</div>
			<div class="padder"></div>
		</article>
	</div>
</body>
</html>