<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add item</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<script
	  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
	  crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='parsley.min.js') }}"></script>
</head>
<body>
	<div class="flex-container-column">
		<header class="flex-container-row">
			<div class="padder"></div>
			<div class="app-title"><h1>Catalog App</h1></div>
			<div class="app-logout"><button class="btn btn-danger">Logout</button></div>
			<div class="padder"></div>
		</header>
		<article class="flex-container-row main-section">
			<div class="padder"></div>
			<section class="main-content">
				<form action = "{{ request.path }}" method = "post" id="data-form" data-parsley-validate="">
					<h2>Add Item</h2>
					<p>Title</p>
					<p><input name="title" required="" autofocus=""></p>
					<p>Description</p>
					<p><textarea name="desc" rows="10" cols="100"></textarea></p>
					<p>Category</p>
					<p>
						<select name="cid">
							{% for category in categories %}
							<option value="{{ category.id }}">{{ category.title }}</option>
        					{% endfor %}
						</select>
					</p>
					<p><button class="btn btn-success">Save</button> <a href="#" onclick="window.history.back()">Cancel</a></p>
				</form>
			</section>
			<div class="padder"></div>
		</article>
	</div>
	
	<script type="text/javascript">
		$(function () {
		  $('#data-form').parsley().on('field:validated', function() {
		    var ok = $('.parsley-error').length === 0;
		    $('.bs-callout-info').toggleClass('hidden', !ok);
		    $('.bs-callout-warning').toggleClass('hidden', ok);
		  })
		  .on('form:submit', function() {
		    return true; 
		  });
		});
	</script>
</body>
</html>