<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Catalog Items</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<div class="flex-container-column">
		<header class="flex-container-row">
			<div class="padder"></div>
			<div class="app-title"><h1>Catalog App</h1></div>
			<div class="app-logout"><button class="btn btn-danger">Logout</button></div>
			<div class="padder"></div>
		</header>
		<article class="flex-container-row main-section">
			<div class="padder"></div>
			<div class="main-content flex-container-row">
				<section class="category-section">
					<h4><a href="/add-category">Add category</a></h4>
					<h2>Categories</h2>
					{% for category in categories %}
					<p><a href="/category-details/{{ category.id }}">{{ category.title }}</a></p>
					{% endfor %}
				</section>
				<section class="item-section">
					<h4><a href="/add-item">Add item</a></h4>
					<h2>Latest items</h2>
					{% for item in items %}
					<p><a href="/item-details/{{ item.id }}">{{ item.title }}</a> <em>({{ item.category.title }})</em></p>
					{% endfor %}
				</section>
			</div>
			<div class="padder"></div>
		</article>
	</div>
	
	<!-- Display message -->
	{% with messages = get_flashed_messages() %}
     	{% if messages %}
           {% for message in messages %}
           		<script>alert('{{ message }}');</script>
           {% endfor %}
     	{% endif %}
    {% endwith %}
</body>
</html>