<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Item details</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="flex-container-column">
		<header class="flex-container-row">
			<div class="padder"></div>
			<div class="app-title"><h1>Catalog App</h1></div>
			<div class="app-logout"><button class="btn btn-danger">Logout</button></div>
			<div class="padder"></div>
		</header>
		<article class="flex-container-row main-section">
			<div class="padder"></div>
			<div class="main-content flex-container-column">
				<!-- Display message -->
				{% with messages = get_flashed_messages() %}
			     	{% if messages %}
			           {% for message in messages %}
			           		<div class="alert alert-success alert-dismissable">
							    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
							    <strong>Success!</strong> {{ message }}
							</div>
			           {% endfor %}
			     	{% endif %}
			    {% endwith %}
				<section class="main-content">
					<h2>{{ item.title }}</h2>
					<div>Description: {{ item.desc }}</div>
					<div><br /><a href="/edit-item/{{ item.id }}">Edit</a> | <a href="/delete-item/{{ item.id }}">Delete</a></div>
				</section>
			</div>
			<div class="padder"></div>
		</article>
	</div>
</body>
</html>