<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Catalog - register</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='parsley.min.js') }}"></script>
</head>
<body>
	<div class = "container">
		<div class="wrapper">
			<form action = "{{ request.path }}" method="post" class="form-signin" id="data-form" data-parsley-validate="">       
			    <h3 class="form-signin-heading">Register new account</h3>
				  <hr class="colorgraph"><br>
				  
				  <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />     		  
				  <input type="password" class="form-control" name="password" placeholder="Password" required=""/>   		  
				  <button class="btn btn-lg btn-primary btn-block"  name="Register" value="Register" type="Submit">Register</button>  
				  <div class="login-register-text"><a href="/login">Login</a></div>
			</form>			
		</div>
		
		<!-- Display message -->
		{% with messages = get_flashed_messages(with_categories=true) %}
	     	{% if messages %}
	           {% for category, message in messages %}
	           		<div class="alert alert-{{ category }} alert-dismissable">
					    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
					    <strong>{{ category.title() }}!</strong> {{ message }}
					</div>
	           {% endfor %}
	     	{% endif %}
	    {% endwith %}
		
		<script type="text/javascript">
			$(function () {
			  $('#data-form').parsley().on('field:validated', function() {
			    var ok = $('.parsley-error').length === 0;
			    $('.bs-callout-info').toggleClass('hidden', !ok);
			    $('.bs-callout-warning').toggleClass('hidden', ok);
			  })
			  .on('form:submit', function() {
			    return true; 
			  });
			});
		</script>
	</div>
</body>
</html>